.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #f1f1f1;
  padding: 10px 20px
}
