.wrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.input {
  display: none;
  visibility: hidden;
}

.resetButton {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
}
